params {
    
    fast5sdir = '/home/zhongjc/nftest/fast5s.al' //absolute path
    fast5sdir_guppy = 'fast5s.al.guppy'
    guppy_install_dir = '/home/zhongjc/nftest/ont-guppy/bin'
    GUPPY_BASECALL_MODEL='dna_r9.4.1_450bps_hac_prom.cfg'
    process_num = 20 

    tombo_resquiggle_genomic = '/home/zhongjc/nftest/GCF_000146045.2_R64_genomic.fna'

    deepsignal_model_path = '/home/zhongjc/nftest/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+/bn_17.sn_360.epoch_9.ckpt'
    deepsignal_res_file = 'fast5s.al.CpG.call_mods.tsv'
    deepsignal_use_gpu = 'no' // 'no' or 'yes'
    
    python_modifi_py_path = '/home/zhongjc/nftest/deepsignal/scripts/call_modification_frequency.py'
    python_modifi_frequency_res = '/home/zhongjc/nftest/fast5s.al.CpG.call_mods.frequency.tsv'
}
